*.idx
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/.qtc_clangd/compile_commands.json
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/data/My_Inventory.csv
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Fonts/Blinker-Black.ttf
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Fonts/Blinker-Bold.ttf
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Fonts/Blinker-ExtraBold.ttf
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Fonts/Blinker-ExtraLight.ttf
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Fonts/Blinker-Light.ttf
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Fonts/Blinker-Regular.ttf
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Fonts/Blinker-SemiBold.ttf
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Fonts/Blinker-Thin.ttf
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/generic/qtuiotouchplugin.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/iconengines/qsvgicon.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qgif.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qicns.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qico.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qjpeg.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qpdf.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qsvg.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qtga.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qtiff.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qwbmp.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/imageformats/qwebp.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/networkinformation/qnetworklistmanager.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/platforms/qwindows.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/styles/qmodernwindowsstyle.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/tls/qcertonlybackend.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/tls/qschannelbackend.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_ar.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_bg.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_ca.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_cs.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_da.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_de.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_en.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_es.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_fa.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_fi.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_fr.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_gd.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_he.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_hr.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_hu.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_it.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_ja.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_ka.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_ko.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_lv.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_nl.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_nn.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_pl.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_pt_BR.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_ru.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_sk.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_tr.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_uk.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_zh_CN.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/translations/qt_zh_TW.qm
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/component.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/D3Dcompiler_47.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Lab_Inventory_res.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Lab_Inventory.exe
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/libgcc_s_seh-1.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/libstdc++-6.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/libwinpthread-1.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/main.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/moc_predefs.h
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/moc_widget.cpp
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/moc_widget.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/opengl32sw.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/qrc_Resources.cpp
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/qrc_Resources.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Qt6Core.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Qt6Gui.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Qt6Network.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Qt6Pdf.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Qt6Svg.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/Qt6Widgets.dll
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0/widget.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/data/My_Inventory.csv
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/component.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/import_export_handler.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/Lab_Inventory_res.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/Lab_Inventory.exe
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/main.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/moc_predefs.h
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/moc_widget.cpp
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/moc_widget.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/qrc_Resources.cpp
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/qrc_Resources.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/release/widget.o
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Lab_Inventory_V1.0.rar
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Makefile.Debug
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/Makefile.Release
/Lab_Inventory_Qt_Project/Lab_Inventory/build/Desktop_Qt_6_9_0_MinGW_64_bit-Release/ui_widget.h
